.container {
    margin: 0 auto;
    width: 90%;
}

hr {
    width: 80%;
}

.input-group {
    width: 100%;
}

#logo {
    padding-right: 5px;
}

.icons {
    padding-right: 5px;
}

.btn {
    margin-top: 15px;
}